{% extends 'base.html' %}
{% block content %}

 <div class="ui center aligned grid">
      <div class="ui large container">
        <h1 class="ui center aligned huge header">
            找回密码
        </h1>
              <form action="{{url_for('auth.forget_password')}}"class="ui small form " method="POST">
        {{ form.hidden_tag() }}
        <div class="required filed">
            <div class="ui fluid  left icon large corner labeled very padded input" >
            <i class="lock icon"></i>
            {{ form.email(type="email", placeholder="输入注册时的邮箱地址", autofocus="autofocus") }}
            <label><i class="red asterisk icon"></i></label>
            </div>
        </div>
              <button type="submit" class="ui center aligned vertical blue button">确认</button>
        </form>
      </div>
    </div>
{% endblock  %}
{% block footer %}
{% endblock %}

