{% extends 'base.html' %}
{% block content %}

 <div class="ui center aligned grid">
      <div class="ui large container">
        <h1 class="ui center aligned huge header">
          重置密码
        </h1>
        <form action=""class="ui small form " method="POST">
        {{ form.hidden_tag() }}
        <div class="required filed">
              <div class="ui fluid left icon large input" >
                <i class="lock icon"></i>{{form.password(placeholder="您的新密码") }} 
                <label><i class="red asterisk icon"> </i></label>
            </div>
            <br></br>
          </div>
          <div class="field">
              <div class="ui fluid left icon large input" >
                <i class="lock icon"></i>{{form.password2(placeholder="再输一次新密码") }} 
                <label><i class="red asterisk icon"> </i></label>
            </div>
          </div>
              <button type="submit" class="ui center aligned vertical blue button">修改</button>
        </form>
      </div>
    </div>
{% endblock  %}
{% block footer %}
{% endblock %}

