{% extends 'base.html' %}
{% block content %}
<div class="ui horizental center aligned huge padded container" >
    <div class="ui grid">
        <div class="six wide column">
    <a class="ui green button"  href="https://github.com/marstrain" target="_blank">
        <i class="github icon"></i>github
    </a>
        </div>
        <div class="five wide column">
    <a  class="ui twitter button" href="https://github.com/marstrain" style="_blank">
        <i class="twitter icon"></i>Twitter</a>
</div>
        <div class="five wide column">
    <div class="ui google plus button">
        <i class="google plus icon"></i>Google Plus
    </div>
</div>
</div>
{% endblock  %}
