{% extends 'base.html' %}
{% block content %}

    <div class="ui center aligned grid">
      <div class="ui mini container">
        <h1 class="ui huge header">
          请先登录
        </h1>
        <form class="ui large form">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i><input name="email" class="required inline " placeholder="E-mail address or phone number" type="text number" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i><input name="password" placeholder="Password" type="password" />
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input class="hidden" tabindex="0" type="checkbox" /><label>Remember me</label>
            </div>
          </div>
          <div class="ui fluid large primary submit button">
            Sign in
          </div>
        </form>
      </div>
    </div>
{% endblock  %}
